<html>
<head>
  <title>Practice Mode</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</script>
</head>
<body>
  <h3 class="inproblem" id = "correctness"></h3>
  <input type="hidden" id="correct_ans" value=0>
  <input type="hidden" id="part_of_prob" value=0>
  <h2 class="inproblem" id='problem'></h2><br>
  <button id='start_test' class="button2" onclick="startTest()">Start Practice</button>
  <a href="/">Main Menu</a>
</body>
<script>
function sendAllData() {
  $('#correctness').text("");
  $.ajax({
    url: '/sendAnswers/',
    type: 'GET',
  });
  $.ajax({
    url: '/DataToServer/',
    type: 'GET',
  });
  $('#end_practice').hide();
  window.location = '/practice/';
};
function nextNumber() {
  $.getJSON("/newNumbers/", function(data) {
  console.log(data);
  var items = [];
  $.each(data, function(key,val) {
    items.push(val);
  });
  $('#problem').text(items[0]+' X '+items[1]+' =');
  $('#correct_ans').val(items[0]*items[1]);
  $('#part_of_prob').val(items[0]);
});
};
function checkAnsGetNext() {
  var p1 = Number($('#part_of_prob').val());
  var ans = Number($('#correct_ans').val());
  var p2 = ans/p1;
  // must use {} for key value pairs in js (or python)
  var data = {'1st' : p1, '2nd' : p2, 'ans' : Number($('#answer').val()),};
  if (ans == $('#answer').val()) {
    $('#correctness').text("CORRECT!");
  } else {
    $('#correctness').text("Incorrect");
  }
  $('#answer').val("");
  console.log(data);
  $.ajax({
    url: '/receiveAnswers/',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify(data),
    dataType: 'json'
  });
  nextNumber();
};
function startTest() {
  $('#start_test').hide();
  $('#start_test').after('<button class="button2" id="end_practice" onclick="sendAllData()">End Practice</button>')
  nextNumber();
  $('#problem').after('<form action="javascript:void(0);" class="inproblem" onsubmit="checkAnsGetNext()"><input class="inputpractice" id = "answer" type="text"><input class ="submitpractice" type="submit"></form>');
};
</script>
</html>
