<!-- this code will run the timed test, it accepts one arg, the time limit in
second, it will continually grab new numbers, check the answer, and grab a new
set, also tracking the time for each problem, then all this information will be
returned to the server at the time completion.
*** dont put () in js functions if they are being used as an argument ***-->
<html>
<head>
  <title>Timed Test</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h3 class="inproblem" id = "correctness"></h3>
  <input type="hidden" id="correct_ans" value=0>
  <input type="hidden" id="part_of_prob" value=0>
  <h2 class="inproblem" id='problem'></h2><br>
  <button class="button1" id='start_test' onclick="startTest()">Start Timed Test</button><br><br>
  <button class="button1" id='send_all_data' onclick="sendAllData()">Done, Send Data to Server</button>
  <a href="/">Main Menu</a>
</body>
<script>
function sendAllData() {
  $('#correctness').text("");
  $.ajax({
    url: '/DataToServer/',
    type: 'GET',
  });
  $('#send_all_data').hide();
};
function nextNumber() {
  $.getJSON("/newNumbers/", function(data) {
  console.log(data);
  var items = [];
  $.each(data, function(key,val) {
    items.push(val);
  });
  $('#problem').text(items[0]+' X '+items[1]+' =');
  $('#correct_ans').val(items[0]*items[1]);
  $('#part_of_prob').val(items[0]);
});
};
function checkAnsGetNext() {
  var p1 = Number($('#part_of_prob').val());
  var ans = Number($('#correct_ans').val());
  var p2 = ans/p1;
  // must use {} for key value pairs in js (or python)
  var data = {'1st' : p1, '2nd' : p2, 'ans' : Number($('#answer').val()),};
  if (ans == $('#answer').val()) {
    $('#correctness').text("CORRECT!");
  } else {
    $('#correctness').text("Incorrect");
  }
  $('#answer').val("");
  console.log(data);
  $.ajax({
    url: '/receiveAnswers/',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify(data),
    dataType: 'json'
  });
  nextNumber();
};
function startTest() {
  $('#start_test').hide();
  $('#send_all_data').hide();
  nextNumber();
  $('#problem').after('<form action="javascript:void(0);" class="inproblem" onsubmit="checkAnsGetNext()"><input class="inputtimed" id = "answer" type="text"><input class="submittimed" type="submit"></form>');
  window.setTimeout(function() {
    $('#answer').val("");
    $.ajax({
      url: '/sendAnswers/',
      type: 'GET',
    });
    window.location = '/timedTest/';
  },30000);
};
</script>
</html>
